.footer {
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0; /* Alinea el footer al borde inferior de la pantalla */
    left: 0; /* Alinea el footer a la izquierda */
    width: 100%; /* Asegura que el footer ocupe todo el ancho de la pantalla */
    background-color: #00c4cc; /* Color celeste */
    color: #fff;
    padding: 10px 0; /* Ajuste de padding para que no ocupe demasiado espacio */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    box-sizing: border-box;
    z-index: 10; /* Asegura que el footer esté por encima de otros elementos */
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0; /* Elimina márgenes innecesarios */
    font-size: 1em;
  }
  